*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    background-color:#fff;
    color:#333;
    font-weight: 300;
    font-size: 20px;
    font-family: 'lato',sans-serif,'arial';
    text-rendering: optimizeLegibility;
}

/*........................*/
/*.......logo.........*/
/*........................*/

#logo{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
}

/*........................*/
/*.......Navbar.........*/
/*........................*/

.navbar{
	padding-top: 0;
	padding-bottom: 0;
	 -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
	 box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
}
.navbar-brand{
	font-weight: 700;
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 80%;
	padding-bottom: 13px !important;
	padding-top: 13px;
	text-align: center;
}
.navbar-light .navbar-nav .nav-link:hover{
	background-color: #fff;
	color: #333;
}
.nav-link{
	cursor: pointer;
}
.navbar-toggler-icon{
	color: #fff;
}
.percent{
    width: 100%;
}
.tutorial-head{
    word-spacing: 7px;
    letter-spacing: 2px;
    
}
.card{
    box-shadow: 2px 2px 5px rgba(51, 51, 51, 0.8);
}
.card-title{
    font-size: 80%;
    word-spacing: 5px;
    line-height: 33px;
}
.card-text{
    font-size: 80%;
    font-size: 80%;
    word-spacing: 5px;
    line-height: 33px;
}
.percent-btn{
    border-radius: 200px;
    display: block;
    margin: 40px auto 2px auto;
}
#age, #CompundInterest, #number, #profitLoss{
    background-color: #ebebeb;
    padding-top: 80px;
    padding-bottom: 40px;
}
#percent, #simpleInterest, #timeWork{
    background-color: #fff;
    padding-top: 80px;
    margin-bottom: 40px;
}
/*-- Reuse --**********/

math{
	font-size: 120% !important;
}
  .mob-font .mjx-math,
  .mob-font .mjx-chtml {
        font-size: 22px;
    }
.mob-font-con mjx-container [size="s"]{
	font-size: 20px;
}























