*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color:#fff;
    color:#2a2a2a;
    font-weight: 400;
    font-size: 17px;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 200%;
    font-family: 'lato',sans-serif,'arial';
    text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

/*........................*/
/*.......reuse.........*/
/*........................*/
.heading-5{
	text-align: center;
	margin-top: 35px;
}
h4{
	margin-bottom: 30px;
}
.h3{
	padding-top: 20px;
	padding-bottom: 20px;
}
h6{
	line-height: 35px;
}
p{
	line-height: 35px;
}
.box{
	border: 1px solid #000;
	padding: 10px;
}
hr{
	margin: 35px 0;
}
article, .math-formula{
	margin: 20px 0;
}
.math{
	font-family: Sofia;
}

math{
	font-size: 120% !important;
}

    .mob-font .mjx-math,
/*    .mob-font mjx-container [size="s"],*/
    .mob-font .mjx-chtml {
        font-size: 22px;
    }
    .mob-font-1 .mjx-math,
    .mob-font-1 .mjx-chtml {
        font-size: 36px;
    }
.line{
	display: block;
	height: 2px;
	width: 200px;
	background-color: #0b0b0b;
	content: " ";
	margin-left: 50px;
}
.note{
    border: 1px solid #f5f5f5;
    background-color: #efefef;
    border-left: 4px solid #4286f4;
    width: 100%;
    padding-left: 40px;
    padding-top: 10px;
    margin-bottom: 35px;
}
.inline-line{
    display:inline-block;
    width:40px; height:0px;
    border-top:2px solid #333;
}
.heading{
    padding: 1rem!important;
    background-color: #6c757d!important;
    color: #fff!important;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    border-radius: 10px;
}

/*........................*/
/*.......logo.........*/
/*........................*/

#logo{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
}

/*........................*/
/*.......Navbar.........*/
/*........................*/

.navbar{
	padding-top: 0;
	padding-bottom: 0;
	 -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
	 box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2);
}
.navbar-brand{
	font-weight: 700;
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 80%;
	padding-bottom: 13px !important;
	padding-top: 13px;
	text-align: center;
}
.navbar-light .navbar-nav .nav-link:hover{
	background-color: #3cbcff;
	color: #fff;
}
#active{
	background-color: #006aa2;
	color: #fff;
}
.nav-link{
	cursor: pointer;
}
.navbar-toggler-icon{
	color: #fff;
}

/*........................*/
/*.......list menu.........*/
/*........................*/
#content-item{
    margin: 0;
    padding: 0;
    position: fixed;
}
	
#content-list{
    padding: 0;
    margin: 0;
	display: block;
	Width: 100%;
	font-size: 17px;
	overflow-y: scroll;
	top:50;
	background-color: #ddd9d9;
    z-index: 9999;
}
.left{
	padding-left: 10px;
}
#content-list-mob .nav-link{
    padding: 5px!important;
}
#content-list-mob .nav-item .nav-link{
   font-size: 20px;
    padding: 0;
    padding-bottom: 0;
    margin: 0;
    letter-spacing: 2px;
}

.nav-link:link,
.nav-link:visited{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #333;
	font-weight: 400;
}

.nav-link:hover,
.nav-link:active{
	background-color:#09aaff;
}


/*........................*/
/*.......articles.........*/
/*........................*/

#article{
    position: relative;
    left: 200px;
	margin: 5px;
	font-size: 17px;
	line-height: 170%;
	font-weight: 400;
	padding-top: 50px;
	width: 100%;
    display: block;
}


/*........................*/
/*.......button.........*/
/*........................*/


 button.next{
	 float:right;
 }
button.previous, button.next{
	display: inline-block;
	border-radius: 4px;
	background-color:#6AB6F5;
	border: none;
	color:#FFFFFF;
	text-align:center;
	font-size:22px;
	padding:2px;
	width:100px;
	cursor:pointer;
	margin: 5px;
	vertical-align:middle;
	margin-bottom: 30px;
}

.next span,.previous span {
  vertical-align:middle;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.next span:after {
  content: '\226B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.previous span:after {
  content: '\226A';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
 .next:hover span {
  padding-right: 25px;
}
.previous:hover span {
  padding-left: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}
.previous:hover span:after {
  opacity: 1;
  left: 0;
}



















